---
import Layout from "../layouts/Layout.astro";
import { AnimatedPila } from "../components/animated-pila";
---

<Layout title="Reconocedor descendente">
  <main class="w-full h-full flex justify-center flex-col items-center">
    <AnimatedPila client:only="react" />
  </main>
</Layout>
